div {
    width: 300px;
    border: solid ;
    margin: 20px;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;
    padding: 25px;
    padding-top: 0px;
}

.text {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
}
